html {
  box-sizing: border-box;
}

.wrapper {
  height: 25em;
  margin: auto;
  margin-top: 40px;
  width: 750px;
};

header {
  border-bottom: 3px solid black;

}

section {
  width: 150px;
  height: 175px;
  margin: 10px 10px;
  border: 1px solid black;
  flex-basis: 22%;
  display: flex;
  flex-flow: column;
}

img {
  justify-content: center;
}

input {
  width: 165px;
  height: 20px;
  margin-bottom: 25px;
}

main {
  border-top: 1px solid black;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  padding-top: 25px;
}

a {
  color: black;
  text-decoration-color: red;
  font-size: 15px;
  text-align: center;
}

.search {
  border-bottom: 1px solid black;
}
